.button {
  color: var(--text-on-primary);
  padding: var(--spacing-sm);
  border: var(--border-width) solid var(--primary);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
}
.buttonPrimary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--text-on-primary);
  border-radius: var(--border-radius);
}
.buttonSecondary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--text-on-primary);
  border-radius: var(--border-radius);
}
.card {
  color: var(--text-on-primary);
  padding: var(--spacing-sm);
  border: var(--border-width) solid var(--primary);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
}
.input {
  color: var(--text-on-primary);
  padding: var(--spacing-sm);
  border: var(--border-width) solid var(--primary);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
}
.title {
  color: var(--text-primary);
  padding: var(--spacing-sm);
  font-family: var(--font-family);
  border-bottom: var(--border-width) solid var(--primary);
}
.form {
  color: var(--text-on-primary);
  padding: var(--spacing-sm);
  border: var(--border-width) solid var(--primary);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
}
.formGroup {
  color: var(--text-on-primary);
  padding: var(--spacing-sm);
  border: var(--border-width) solid var(--primary);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
}

.spacingMd {
  margin-bottom: var(--spacing-md);
}

.spacingLg {
  margin-bottom: var(--spacing-lg);
}
